{% extends 'project_base.html' %} {% block content %}
<div class="contact-form-cont project-form-cont">
  <form action="" id="form-child" method="post">
    {% csrf_token %}

    <!-- Number input field -->
    <!-- use onpoint in number input field if you gonna use slider to connect their values -->
    <div id="all-input-container">
      <!-- number input field with range -->
      <div class="input-field-container">
        <div class="project-form-field">
          <label for="project-name" class="contact-form-label"
            >First value</label
          >
          <input
            type="number"
            class="project-form-input"
            name="first_value"
            step="0.01"
            value="1.4"
            oninput="this.form.first_value_range.value = this.value"
            required
          />
        </div>
        <!-- range field slider -->
        <!-- name could be anything because we only gonna use input number field name -->
        <!-- onpoint is used for show value of slider into input number field -->
        <!-- which is: onpoint="this.form.number_input_name.value = this.value" -->
        <div class="project-form-field">
          <input
            type="range"
            min="0"
            max="10"
            step="0.01"
            name="first_value_range"
            value="1.4"
            oninput="this.form.first_value.value = this.value"
          />
        </div>
        <!-- range slider end -->
      </div>

      <!-- number input field end -->
      <!-- number input field with range -->
      <div class="input-field-container">
        <div class="project-form-field">
          <label for="project-name" class="contact-form-label"
            >Second value</label
          >
          <input
            type="number"
            class="project-form-input"
            name="second_value"
            step="0.01"
            value="0.2"
            oninput="this.form.second_value_range.value = this.value"
            required
          />
        </div>
        <!-- range field slider -->
        <div class="project-form-field">
          <input
            type="range"
            min="0"
            max="5"
            step="0.01"
            name="second_value_range"
            value="0.2"
            oninput="this.form.petal_width.value = this.value"
          />
          <!-- output is used to show input value of slider, you can avoid it if you connected number and range field -->
          <output style="font-size: 900"></output>
        </div>
        <!-- range slider end -->
      </div>

      <!-- text area input field -->
      <div class="input-field-container">
        <div class="project-form-field">
          <label for="project-name" class="contact-form-label"
            >Enter text area value</label
          >
          <textarea class="project-form-input" rows="4" cols="50"></textarea>
        </div>
        <!-- text area end -->
      </div>
      <!-- text-area field end -->

      <!-- radio buttons -->
      <!-- name is the group name and value is passed through submit button in form -->
      <div class="input-field-container">
        <!-- container is used for setting margin and padding between div blocks -->
        <div class="project-form-field radio-button-cont">
          <legend
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            Select Gender
          </legend>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input type="radio" name="gender" value="male" checked /> Male
          </label>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input type="radio" name="gender" value="female" /> Female
          </label>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input type="radio" name="gender" value="other" disabled /> Other
          </label>
        </div>
      </div>
      <!-- radio button end -->

      <!-- check-box -->
      <div class="input-field-container">
        <!-- checkboxes -->
        <div class="project-form-field">
          <legend
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            Education
          </legend>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input
              type="checkbox"
              name="education"
              value="uneducated"
              disabled
            />
            Un-educated
          </label>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input
              type="checkbox"
              name="education"
              value="post-metric"
              checked
            />
            Post-metric
          </label>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input type="checkbox" name="education" value="grad" /> Graduation
          </label>
          <label
            for="project-name"
            class="contact-form-label radio-button-label"
          >
            <input type="checkbox" name="education" value="post-grad" /> Post
            Graduation
          </label>
        </div>
      </div>
      <!-- check-box end -->
    </div>
    <!-- all-input-container -->

    <!-- submit button -->
    <div class="main-buttons-cont" id="project-form-submit">
      <input class="main-buttons project-form-button" type="submit" />
      <input class="main-buttons project-form-button" type="reset" />
    </div>
    <!-- submit button end -->
  </form>

  <!-- result -->
  {% if messages %}
  <div id="project-form-result">
    <div class="contact-form-label">Result</div>
    <div class="contact-form-value" id="form-result-message">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <!-- result end -->
  </div>
</div>
{% endblock %}
